body {
    height: 100vh;
    margin: 0px;
}

.outer-container {
    width: 250px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.desktop {
    margin: auto;
    font-size: 100px;
    font-weight: thin;
    position: relative;
}

.desktop__line {
    position: absolute;
}

.desktop__line:nth-child(2) {
    height: 10px;
    width: 0px;
    top: 23px;
    left: 16px;
    background-color: black;
    visibility: hidden;
    animation-name: grow1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.desktop__line:nth-child(3) {
    height: 0px;
    width: 10px;
    top: 23px;
    left: 86px;
    background-color: black;
    visibility: hidden;
    animation-name: grow2;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.desktop__line:nth-child(4) {
    height: 10px;
    width: 0px;
    top: 63px;
    left: 16px;
    background-color: black;
    visibility: hidden;
    animation-name: grow3;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.desktop__line:nth-child(5) {
    height: 30px;
    width: 10px;
    top: 33px;
    left: 16px;
    background-color: black;
}

.desktop__line:nth-child(6) {
    height: 10px;
    width: 60px;
    top: 32px;
    left: 26px;
    background-color: black;
}

.desktop__line:nth-child(7) {
    height: 21px;
    width: 10px;
    top: 42px;
    left: 76px;
    background-color: black;
}

.desktop__line:nth-child(8) {
    height: 10px;
    width: 50px;
    top: 53px;
    left: 26px;
    background-color: black;
}

@keyframes grow1 {
    from {
        visibility: visible;
        width: 0px;
    }
    to {
        width: 80px;
        visibility: visible;
    }
}

@keyframes grow2 {
    from {
        visibility: visible;
        height: 0px;
    }
    to {
        height: 48px;
        visibility: visible;
    }
}

@keyframes grow3 {
    from {
        visibility: visible;
        width: 0px;
    }
    to {
        width: 80px;
        visibility: visible;
    }
}